<p>maintenance-log works!</p>
<div class="row">
  <div class="col-md"></div>
  <div class="col-md">
    <table class="table table-striped table-hover table-bordered table-responsive-md">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">Item</th>
          <th scope="col">Cost</th>
          <th scope="col">Place</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Lake Forest, CA</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Lake Forest, CA</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Lake Forest, CA</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md"></div>
</div>

<h1>create data entry form here</h1>